 {% extends 'base.html' %}


  {% block 'main' %}
    <h2 class="mt-5">CREATE TASK</h2>

    <div class="col-md-6 mt-3 m-auto">
 
        <form method="POST" action="/create">
            {% csrf_token %}
            <div class="mb-3">
                <label for="tid" class="form-label">Book Title : </label>
                <input type="text" class="form-control" name="t" id="t" placeholder="Enter Title">
              </div>

              <div class="mb-3">
                <label for="detid" class="form-label">Book Details : </label>
                <textarea class="form-control" name="det" id="det" rows="3"></textarea>
              </div>

              <div class="mb-3">
                <label for="tid" class="form-label">Date : </label>
                <input type="date" class="form-control" name="dt" id="dt" placeholder="mm/dd/yyyy">
              </div>

              <div class="mb-3">
                <input type="submit" class="btn btn-success name="send" value="CREATE"/>
              </div>
        </form> 
        
    </div>   
 
 
 {% endblock 'main' %}