{% extends 'base.html' %}

{% block 'main' %}


        <div class="col-md-4">
            <h2 style="color:red;"> Book Information</h2>
            <a href="/create"> <button type="button" class="btn btn-primary">Create New Book</button></a>
        </div>
        <div class='row'>
        <div class="col-md-8 mt-5">
            <table class="table" border="1" >
                <tr>
                    <th>Book Title</th>
                    <th>Book Detail</th>
                    <th>Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>

                {% for d in data %}
                    <tr>
                        <td>{{d.title}}</td>
                        <td>{{d.detail}}</td>
                        <td>{{d.date}}</td>
                        <td><a href="/edit/{{d.id}}"><button class="btn btn-warning">Edit</button></a></td>
                        <td><a href="/delete/{{d.id}}"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock 'main' %}